nav.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-link {
  padding-left: .75rem;
  padding-right: .75rem;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

section#section-page-banner {
  background-image: url("../../img/banners/program-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

section#section-page-banner::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .80;
  background-color: var(--bs-primary);
}

section#section-page-banner div {
  position: relative;
  z-index: 2;
}

section#section-blog .blog-wrapper-container {
  margin: 0 -24px;
}

section#section-blog .blog-wrapper-container .blog-item {
  width: 33.3%;
  margin-bottom: 36px;
  padding: 0 24px;
}

section#section-blog .blog-pagination .pagination .page-item.active a {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-secondary) !important;
  color: #fff !important;
}

section#section-blog .blog-pagination .pagination .page-item.disabled a {
  opacity: .5;
}

section#section-blog .blog-pagination .pagination .page-item a {
  color: #000 !important;
}
/*# sourceMappingURL=artikel-dan-event.css.map */