nav.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-link {
  padding-left: .75rem;
  padding-right: .75rem;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

section#section-page-banner {
  background-image: url("../../img/banners/program-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

section#section-page-banner::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .80;
  background-color: var(--bs-primary);
}

section#section-page-banner div {
  position: relative;
  z-index: 2;
}

section#section-page-pers {
  background-image: url("../../img/globals/bumn-muda-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

section#section-page-pers .pers-wrapper .pers-category .category-header {
  position: relative;
}

section#section-page-pers .pers-wrapper .pers-category .category-header:before {
  content: '';
  height: 1px;
  background: var(--bs-secondary);
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}

section#section-page-pers .pers-wrapper .pers-other .other-header {
  position: relative;
}

section#section-page-pers .pers-wrapper .pers-other .other-header:before {
  content: '';
  height: 1px;
  background: var(--bs-secondary);
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}
/*# sourceMappingURL=berita.css.map */