html {
    overflow-x: hidden;
}
.section-subscribe {
    justify-content: center;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-child {
    justify-content: start;
}
.footer-profile {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-likes {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-comments {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}



@media only screen and (max-width: 768px){
    .section-subscribe {
        justify-content: start;
    }
    .section-subscribe .btn {
        margin-top: 25px;
    }
    #button-fhci {
        margin-left: 0;
    }
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-child {
        justify-content: center;
        margin: 10px;
    }
    .footer-profile {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-likes {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-comments {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}