html {
    overflow-x: hidden;
}
.contact-cta-inner {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-child {
    justify-content: start;
}


@media only screen and (min-width: 300px) and (max-width: 768px) {
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-child {
        justify-content: center;
        margin: 10px;
    }
}