nav.navbar {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-link {
  padding-left: .75rem;
  padding-right: .75rem;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

section#section-page-banner {
  background-image: url("../../img/banners/program-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

section#section-page-banner::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .80;
  background-color: var(--bs-primary);
}

section#section-page-banner div {
  position: relative;
  z-index: 2;
}

section#section-magazine {
  background-image: url("../../img/globals/fhci-icon-half-rtl.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 25%;
}

section#section-magazine .section-swiper {
  overflow: visible !important;
  position: relative;
}

section#section-magazine .section-swiper .section-navigation-prev {
  position: absolute;
  left: 30%;
  top: 35%;
  height: 64px;
  width: 64px;
}

section#section-magazine .section-swiper .section-navigation-prev::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-magazine .section-swiper .section-navigation-prev::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

section#section-magazine .section-swiper .section-navigation-next {
  position: absolute;
  right: 30%;
  top: 35%;
  height: 64px;
  width: 64px;
}

section#section-magazine .section-swiper .section-navigation-next::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-magazine .section-swiper .section-navigation-next::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

section#section-magazine .section-slide.swiper-slide {
  margin-right: 0;
}

section#section-magazine .section-slide.swiper-slide .section-content-image {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: relative;
}

section#section-magazine .section-slide.swiper-slide .section-content-image::before {
  content: '';
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-prev .section-content-image {
  -webkit-transform-origin: left;
          transform-origin: left;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-next .section-content-image {
  -webkit-transform-origin: right;
          transform-origin: right;
}

section#section-magazine .section-slide.swiper-slide .section-content-body {
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-active {
  margin-right: 16px;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-active .section-content-image {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
  position: relative;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-active .section-content-image::before {
  content: '';
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-active .section-content-body {
  opacity: 1;
  margin-top: 32px;
}
/*# sourceMappingURL=emagazine.css.map */