nav.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-link {
  padding-left: .75rem;
  padding-right: .75rem;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

section#section-page-banner {
  background-image: url("../../img/banners/about-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

section#section-page-banner::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .80;
  background-color: var(--bs-primary);
}

section#section-page-banner div {
  position: relative;
  z-index: 2;
}

section#section-page-founder {
  background-image: url("../../img/globals/bumn-muda-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right 150%;
  background-size: 75%;
}

section#section-page-pengurus {
  background-image: url("../../img/globals/bumn-muda-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 65%;
}

section#section-page-pengurus .srikandi-team-item:hover > .srikandi-team-image-wrapper .team-description {
  opacity: 1;
}

section#section-page-pengurus .srikandi-team-item .srikandi-team-image-wrapper {
  position: relative;
  overflow: hidden;
}

section#section-page-pengurus .srikandi-team-item .srikandi-team-image-wrapper .team-image {
  position: relative;
}

section#section-page-pengurus .srikandi-team-item .srikandi-team-image-wrapper .team-description {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/*# sourceMappingURL=founder-dan-pengurus.css.map */