html {
    overflow-x: hidden;
}
.section-subscribe {
    justify-content: center;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-child {
    justify-content: start;
}


@media only screen and (max-width: 768px){
    .section-subscribe {
        justify-content: start;
    }
    .section-subscribe .btn {
        margin-top: 25px;
    }
    #button-fhci {
        margin-left: 0;
    }
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-child {
        justify-content: center;
        margin: 10px;
    }
    section#section-gallery .gallery-container {
        display: flex;
        flex-wrap: wrap;
    }
    section#section-gallery .gallery-container .gallery-item {
        width: 100% !important;
    }
}