/* Custom Styling */
section#section-what-is-srikandi {
  background-image: url("../../img/globals/bumn-muda-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%;
}

section#section-what-is-srikandi #srikandi-explanation .section-image .section-play-video {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  position: absolute;
  top: calc(50% - 95px);
  right: calc(-190px / 2);
}

@media screen and (max-width: 768px) {
  section#section-what-is-srikandi #srikandi-explanation .section-image .section-play-video {
    top: inherit;
    bottom: calc(128px - 95px);
    right: 95px;
    left: 95px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

section#section-what-is-srikandi #srikandi-about .section-image {
  position: relative;
}

section#section-what-is-srikandi #srikandi-about .section-image img:nth-child(0) {
  z-index: 2;
}

section#section-what-is-srikandi #srikandi-about .section-image img:nth-child(1) {
  position: absolute;
  z-index: 1;
}

/* Custom Styling */
section#section-program-unggulan .section-image .section-play-video {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  position: absolute;
  top: calc(50% - 95px);
  right: calc(-190px / 2);
}

@media screen and (max-width: 768px) {
  section#section-program-unggulan .section-image .section-play-video {
    top: inherit;
    bottom: calc(128px - 95px);
    right: 95px;
    left: 95px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

section#section-program-unggulan .section-navigation-prev {
  height: 64px;
  width: 64px;
  left: 32px;
}

section#section-program-unggulan .section-navigation-prev::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-program-unggulan .section-navigation-prev::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section#section-program-unggulan .section-navigation-prev {
    display: none;
  }
}

section#section-program-unggulan .section-navigation-next {
  height: 64px;
  width: 64px;
  right: 32px;
}

section#section-program-unggulan .section-navigation-next::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-program-unggulan .section-navigation-next::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section#section-program-unggulan .section-navigation-next {
    display: none;
  }
}

section#section-page-event .event-body .event-item-wrapper {
  position: relative;
}

section#section-page-event .event-body .event-item-wrapper .item-wrapper-inner {
  position: relative;
  max-width: 90%;
}

section#section-page-event .event-body .event-item-wrapper .item-wrapper-inner .item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0), black);
  z-index: 2;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

section#section-page-event .event-body .event-item-wrapper .item-badge {
  position: absolute;
  top: 36px;
  right: 0;
  width: 20%;
}
/*# sourceMappingURL=index.css.map */