html {
    overflow-x: hidden;
}
.swiper-slide.program-bumn {
    width: 100%;
}
.form-group.option-bumn {
    width: auto;
}
.form-select.select-bumn {
    width: auto;
}
.form-group.event-bumn {
    width: auto;
}
.form-control.search-event {
    width: auto;
}
.form-group.submit-event {
    width: auto;
}
.submit-event-bumn {
    width: auto;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-child {
    justify-content: start;
}
.section-subscribe {
    justify-content: center;
}


@media only screen and (max-width: 768px){
    .swiper-slide.program-bumn {
        width: 200px !important;
    }
    .form-group.option-bumn {
        width: 100%;
    }
    .form-select.select-bumn {
        width: 100%;
    }
    .form-group.event-bumn {
        width: 100%;
    }
    .form-control.search-event {
        width: 100%;
    }
    .form-group.submit-event {
        width: 100%;
        margin-top: 1em;
    }
    .submit-event-bumn {
        width: 100%;
    }
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-child {
        justify-content: center;
        margin: 10px;
    }
    .section-subscribe {
        justify-content: start;
    }
    .section-subscribe .btn {
        margin-top: 25px;
    }
    #button-fhci {
        margin-left: 0;
    }
}