/* Custom Styling */
section#section-what-is-srikandi {
  background-image: url('../../img/globals/bumn-muda-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%;
  #srikandi-explanation {
    .section-image{
      .section-play-video {
        transform: scale(.75);
        position: absolute;
        top: calc(50% - 95px);
        right: calc(-190px / 2);
        @media screen and (max-width: 768px) {
          top: inherit;
          bottom: calc(128px - 95px);
          right: 95px;
          left: 95px;
          transform: scale(.5);
        }
      }
    }
  }

  #srikandi-about {
    .section-image{
      position: relative;
      img {
        &:nth-child(0) {
          z-index: 2;
        }
        &:nth-child(1) {
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}


/* Custom Styling */
section#section-program-unggulan {
  .section-image{
    .section-play-video {
      transform: scale(.75);
      position: absolute;
      top: calc(50% - 95px);
      right: calc(-190px / 2);
      @media screen and (max-width: 768px) {
        top: inherit;
        bottom: calc(128px - 95px);
        right: 95px;
        left: 95px;
        transform: scale(.5);
      }
    }
  }

  .section-navigation-prev {
    height: 64px;
    width: 64px;
    left: 32px;
    &::after {
      transform: scale(.5) !important;
      color: #fff;
    }
    &::before {
      content: '';
      background: #272727;
      height: 64px;
      width: 64px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .section-navigation-next {
    height: 64px;
    width: 64px;
    right: 32px;
    &::after {
      transform: scale(.5) !important;
      color: #fff;
    }
    &::before {
      content: '';
      background: #272727;
      height: 64px;
      width: 64px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

section#section-page-event {
  .event-body {
    .event-item-wrapper {
      position: relative;
      .item-wrapper-inner {
        position: relative;
        max-width: 90%;
        .item-title {
          position: absolute;
          bottom: 0;
          left: 0;
          background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,0,0,1));
          z-index: 2;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: end;
        }
      }
      .item-badge {
        position: absolute;
        top: 36px;
        right: 0;
        width: 20%;
      }
    }
  }
}

section#section-blog {
  // background-image: url('../../img/globals/fhci-icon-half.svg');
  // background-repeat: no-repeat;
  // background-position: right bottom;
}