nav {
  &.navbar {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #fff;
    .navbar-nav {
      .nav-link {
        &.active {
          font-weight: 600;
        }
        padding-left: .75rem;
        padding-right: .75rem;
        font-weight: 200;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

section#section-page-magang {
  background-image: url('../../img/globals/fhci-icon-half-rtl-primary.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

section#section-page-magang-flow {
  background-image: url('../../img/globals/fhci-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right top;
}

section#section-page-bumn {
  background-image: url('../../img/globals/fhci-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  .bumn-item:not(a) {
    filter: grayscale(1);
    transition: .25s ease-in-out;
    &:hover {
      filter: grayscale(0);
    }
  }
}

section#section-page-univ {
  .univ-item:not(a) {
    filter: grayscale(1);
    transition: .25s ease-in-out;
    &:hover {
      filter: grayscale(0);
    }
  }
}

section#section-page-faq {
  background-image: url('../../img/globals/fhci-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  .faq-content {
    #faqAccordion {
      .accordion-item {
        background: transparent;
        .accordion-button {
          color: #000;
        }
      }
    }
  }
}