nav.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-link {
  padding-left: .75rem;
  padding-right: .75rem;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

section#section-page-banner {
  background-image: url("../../img/banners/about-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

section#section-page-banner::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .80;
  background-color: var(--bs-primary);
}

section#section-page-banner div {
  position: relative;
  z-index: 2;
}

section#section-page-history {
  background-image: url('../../img/globals/bumn-muda-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

section#section-page-about .page-about-image {
  position: relative;
}

section#section-page-about .page-about-image img:nth-child(0) {
  z-index: 2;
}

section#section-page-about .page-about-image img:nth-child(1) {
  position: absolute;
  z-index: 1;
}

section#section-page-history .history-content .history-content-body .history-content-navtab {
  border: 0;
  margin: 0 -1rem;
  position: relative;
}

section#section-page-history .history-content .history-content-body .history-content-navtab::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: 50%;
  background-color: #fff;
  display: block;
  z-index: 2;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link {
  color: #fff;
  padding: 0;
  border: 0;
  padding: 0 1rem;
  background: var(--bs-primary);
  position: relative;
  z-index: 2;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link span {
  opacity: 1;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link.active span {
  opacity: .5;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(6) {
  font-weight: '200';
  font-family: 'Roboto', sans-serif;
  font-size: 20;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(6) span {
  opacity: .5;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(6).active {
  margin-left: auto;
  font-weight: bold;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(6).active span {
  opacity: 1;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(5) {
  font-weight: '200';
  font-family: 'Roboto', sans-serif;
  font-size: 20;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(5) span {
  opacity: .5;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(5).active {
  margin-left: 0;
  font-weight: bold;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(5).active span {
  opacity: 1;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(5).active ~ .nav-link:nth-child(6) {
  margin-left: auto;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(4) {
  font-weight: '200';
  font-family: 'Roboto', sans-serif;
  font-size: 20;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(4) span {
  opacity: .5;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(4).active {
  margin-left: 0;
  font-weight: bold;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(4).active span {
  opacity: 1;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(4).active ~ .nav-link:nth-child(5) {
  margin-left: auto;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(3) {
  font-weight: '200';
  font-family: 'Roboto', sans-serif;
  font-size: 20;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(3) span {
  opacity: .5;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(3).active {
  margin-left: 0;
  font-weight: bold;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(3).active span {
  opacity: 1;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(3).active ~ .nav-link:nth-child(4) {
  margin-left: auto;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(2) {
  font-weight: '200';
  font-family: 'Roboto', sans-serif;
  font-size: 20;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(2) span {
  opacity: .5;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(2).active {
  margin-left: 0;
  font-weight: bold;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(2).active span {
  opacity: 1;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(2).active ~ .nav-link:nth-child(3) {
  margin-left: auto;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(1) {
  font-weight: '200';
  font-family: 'Roboto', sans-serif;
  font-size: 20;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(1) span {
  opacity: .5;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(1).active {
  margin-left: 0;
  font-weight: bold;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(1).active span {
  opacity: 1;
}

section#section-page-history .history-content .history-content-body .history-content-navtab .nav-link:nth-child(1).active ~ .nav-link:nth-child(2) {
  margin-left: auto;
}

section#section-page-basics {
  background-image: url('../../img/globals/fhci-icon-half-rtl.svg');
  background-repeat: no-repeat;
  background-position: -10% center;
  background-size: contain;
}

section#section-commitee .section-content-image {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

section#section-commitee .section-content-image:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

section#section-page-fhci-team .fhci-team-item:hover > .fhci-team-image-wrapper .team-description {
  opacity: 1;
}

section#section-page-fhci-team .fhci-team-item .fhci-team-image-wrapper {
  position: relative;
  overflow: hidden;
}

section#section-page-fhci-team .fhci-team-item .fhci-team-image-wrapper .team-image {
  position: relative;
}

section#section-page-fhci-team .fhci-team-item .fhci-team-image-wrapper .team-description {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

section#section-page-structure {
  background-image: url('../../img/globals/fhci-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
/*# sourceMappingURL=about.css.map */