/*!
 * Bootstrap v5.2.0-beta1 (https://getbootstrap.com/)
 * Copyright 2011-2022 The Bootstrap Authors
 * Copyright 2011-2022 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

 

// scss-docs-start import-stack
// Configuration
@import "./../../node_modules/bootstrap/scss/functions";
@import "./../../node_modules/bootstrap/scss/variables";
// scss-docs-start theme-color-variables
$primary:       #333C63 !default;
$secondary:     #C7A146 !default;
$success:       #C2CC8C !default;
$info:          #4362B9 !default;
$warning:       #EDAE64 !default;
$danger:        #CE4D4F !default;
// scss-docs-end theme-color-variables

$theme-colors: (
  "primary":    #333C63,
  "secondary":  #C7A146,
  "success":    #C2CC8C,
  "info":       #4362B9,
  "warning":    #EDAE64,
  "danger":     #CE4D4F,
  "light":      $light,
  "dark":       $dark
);
@import "./../../node_modules/bootstrap/scss/maps";
@import "./../../node_modules/bootstrap/scss/mixins";
@import "./../../node_modules/bootstrap/scss/utilities";


// Layout & components
@import "./../../node_modules/bootstrap/scss/root";
@import "./../../node_modules/bootstrap/scss/reboot";
@import "./../../node_modules/bootstrap/scss/type";
@import "./../../node_modules/bootstrap/scss/images";
@import "./../../node_modules/bootstrap/scss/containers";
@import "./../../node_modules/bootstrap/scss/grid";
@import "./../../node_modules/bootstrap/scss/tables";
@import "./../../node_modules/bootstrap/scss/forms";
@import "./../../node_modules/bootstrap/scss/buttons";
@import "./../../node_modules/bootstrap/scss/transitions";
@import "./../../node_modules/bootstrap/scss/dropdown";
@import "./../../node_modules/bootstrap/scss/button-group";
@import "./../../node_modules/bootstrap/scss/nav";
@import "./../../node_modules/bootstrap/scss/navbar";
@import "./../../node_modules/bootstrap/scss/card";
@import "./../../node_modules/bootstrap/scss/accordion";
@import "./../../node_modules/bootstrap/scss/breadcrumb";
@import "./../../node_modules/bootstrap/scss/pagination";
@import "./../../node_modules/bootstrap/scss/badge";
@import "./../../node_modules/bootstrap/scss/alert";
@import "./../../node_modules/bootstrap/scss/progress";
@import "./../../node_modules/bootstrap/scss/list-group";
@import "./../../node_modules/bootstrap/scss/close";
@import "./../../node_modules/bootstrap/scss/toasts";
@import "./../../node_modules/bootstrap/scss/modal";
@import "./../../node_modules/bootstrap/scss/tooltip";
@import "./../../node_modules/bootstrap/scss/popover";
@import "./../../node_modules/bootstrap/scss/carousel";
@import "./../../node_modules/bootstrap/scss/spinners";
@import "./../../node_modules/bootstrap/scss/offcanvas";
@import "./../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "./../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "./../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack
