.container-no-xl {
  @media (min-width: 0) and (max-width: 2160px) {
    width: auto;
    max-width: none;
    padding: 0;
  }
}

.object-position-center {
  object-position: center;
}

.object-position-top {
  object-position: top;
}

.object-position-bottom {
  object-position: bottom;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.bg-fhci-icon-half {
  background-image: url('/assets/img/globals/fhci-icon-half.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 75%;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.align-items-self-end {
  align-items: self-end;
}

.p-relative {
  position: relative;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.placeholder-white {
  &::placeholder {
    color: rgba(255,255,255, .75);
    font-weight: '400';
  }
}

.breadcrumb-item.breadcrumb-light + .breadcrumb-item.breadcrumb-light::before {
  color: rgba(0,0,0,.5) !important;
}

.bg-primary-darker {
  background-color: #7A0507;
}

.bg-primary-200 {
  background-color: #BB1216;
}

.bg-primary-400 {
  background-color: #AC0F12;
  
}

.bg-primary-600 {
  background-color: #850508;
}

.bg-primary-brighter {
  background-color: #3f4a7b;
}