nav {
  &.navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff;
    .navbar-nav {
      .nav-link {
        &.active {
          font-weight: 600;
        }
        padding-left: .75rem;
        padding-right: .75rem;
        font-weight: 200;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .has-submenu {
        .dropdown-menu {
          border: 0;
          border-radius: 0;
          padding: 0;
          .dropdown-item {
            font-size: 16;
            font-weight: 200;
            padding: 16px 18px;
            text-transform: uppercase;
            &:hover {
              background-color: var(--bs-secondary);
              color: #fff;
            }
            &.active {
              background-color: transparent;
              color: var(--bs-secondary);
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}